.navigation-container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
  margin: 0 auto;
  padding: 0.3rem;
}

.navlinks {
  padding: 0.25rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navlink {
  /* font-size: 1.37rem; */
  font-size: 0.98rem;
  text-decoration: none;
  cursor: pointer;
  animation: smoothColorCycle 13s ease-in-out infinite, opacityCycle 8s ease-in-out infinite;
}

button:hover,
.navlink:hover {
    transform: scale(1.1);
    transition: transform 2s ease-in-out;
    text-decoration: underline;
}

@keyframes smoothColorCycle {
    0%,100% {
      color: var(--eee);
      filter: brightness(0.9);
    }
    50% {
      color: var(--ccc);
      filter: brightness(1.0);
    }
  }
  
  @keyframes opacityCycle {
    0% {
      opacity: 1;
    }
    30% {
      opacity: 0.9;
    }
    60% {
      opacity: 0.7;
    }
    90% {
      opacity: 0.8;
    }
    100% {
      opacity: 1;
    }
  }
  
  .navlinks a:nth-child(1) {
    animation-delay: 1s;
  }
  .navlinks a:nth-child(2) {
    animation-delay: 3s;
  }
  .navlinks a:nth-child(3) {
    animation-delay: 5s;
  }
  .navlinks a:nth-child(4) {
    animation-delay: 7s;
  }
  .navlinks a:nth-child(5) {
    animation-delay: 2s;
  }
  